body { background: #a11e01; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 30px; display: flex; }
.block-product-0 { color: #f7a5cc; font-size: 12px; margin-bottom: 5px; }
.block-router-1 { color: #f0570e; font-size: 16px; margin-bottom: 5px; }
.block-product-2 { color: #308dba; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #105d91; font-size: 14px; margin-bottom: 5px; }
.block-uploader-4 { color: #447bb9; font-size: 19px; margin-bottom: 5px; }
.block-cache-5 { color: #b3eabc; font-size: 18px; margin-bottom: 5px; }
.block-config-6 { color: #e4b414; font-size: 19px; margin-bottom: 5px; }
.block-search-7 { color: #8c9aa9; font-size: 16px; margin-bottom: 5px; }